@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .not-found-img {
    @apply max-w-xs h-[320px] sm:max-w-lg md:max-w-2xl;
  }

  .flex-column {
    @apply flex flex-col justify-center items-center;
  }

  .flex-column-wrap-center {
    @apply flex flex-col flex-wrap content-center;
  }

  .flex-row {
    @apply flex items-center;
  }

  .icon-click {
    @apply h-7 w-7 cursor-pointer opacity-70;
  }
}

:root {
  background-color: rgb(253, 253, 253);
  --dark: #09153d;
  --red: #ee1c47;
  --orange: #ff823a;
  --gray: #676c7b;
  --red-dark: #ce0b32;
  --white: rgb(248 250 252);
  --gold: #ffd700;
  --yellow: #f8c36f;
}

/* reset start */

h1 {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 700;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* reset end */
