@tailwind base;
/* @tailwind components; */
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500;600;700;800&display=swap");

@import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

@import url(Dashboard.css);
@import url(Typewriter.css);
@import url(ButtonTrial.css);
@import url(Circle.css);
@import url(PricingCard.css);
@import url(Badge.css);
@import url(Contact.css);
@import url(MessageForm.css);

/* @layer components {
  .not-found-img {
    @apply max-w-xs h-[320px] sm:max-w-lg md:max-w-2xl;
  }

  .flex-column {
    @apply flex flex-col justify-center items-center;
  }

  .flex-column-wrap-center {
    @apply flex flex-col flex-wrap content-center;
  }

  .flex-row {
    @apply flex items-center;
  }

  .icon-click {
    @apply h-7 w-7 cursor-pointer opacity-70;
  }
} */

:root {
  background-color: rgb(253, 253, 253);
  --dark: #09153d;
  --red: #ee1c47;
  --orange: #ff823a;
  --gray: #676c7b;
  --red-dark: #ce0b32;
  --white: rgb(248 250 252);
  --gold: #ffd700;
  --yellow: #feb538;

  --body-bg-color: #e4e6f5;
  --border-color: #e5e4e9;
  --theme-bg-color: #fff;
  --body-color: #1b1f31;
  --main-color: #7a7e9d;
  --main-light-color: #a1a4b9;
  --title-color: #979dc3;
  --body-font: "Jost", sans-serif;
  --button-bg-color: #eaeefc;
  --button-color: #f9a724;
  --unselected-mail: #f1f2f7;
  --calendar-border-color: #cbcfe0;
  --main-container-bg: #f0f0f7;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Lato;
}

body {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

/* reset start */

h1 {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 800;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* reset end */

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #a2b6f5;
  }
  100% {
    width: 35%;
  }
}

.members {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

.main-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.header {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 30px;
}

.inbox-calendar {
  margin-right: 200px;
}

.color-menu {
  flex-shrink: 0;
}

.msg {
  padding: 30px;
  background-color: white;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  transition: 0.4s ease;
}
.msg-title {
  font-weight: 600;
  font-size: 14px;
}
.msg-date {
  font-size: 11px;
  color: var(--main-light-color);
  font-weight: 600;
  margin-top: 5px;
}

/* .selected-bg {
  background-color: var(--theme-bg-color);
} */

.msg-department {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  font-weight: 700;
  letter-spacing: 0.8px;
  background-color: var(--theme-bg-color);
  border-left: 4px solid #b36dfb;
}

.inbox {
  overflow: auto;
}
.inbox-container {
  border-right: 1px solid var(--border-color);
  width: 420px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-shrink: 0;
}

.main-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  background-color: var(--main-container-bg);
}

.mail-members {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.mail-choice {
  display: none;
}

.mail-choice + label:before {
  content: "";
  display: flex;
  width: 35px;
  height: 35px;
  border: 2px solid var(--main-light-color);
  margin-right: 15px;
  border-radius: 50%;
  transition: 0.3s;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='28' viewBox='0 0 24 24' fill='none' stroke='%23a1a4b9' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.mail-choice:checked + label:before {
  border-color: green;
  background-color: var(--button-color);
  border-color: var(--button-color);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='28' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
}

.mail-choice:checked .msg {
  background-color: red;
}

.mail-detail {
  display: flex;
  animation: slideX 0.6s both;
  flex-direction: column;
  overflow: auto;
  background-color: var(--theme-bg-color);
}
.mail-detail-profile {
  display: flex;
  align-items: center;
}
.mail-detail-header {
  border-bottom: 1px solid var(--border-color);
  padding: 16px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mail-detail-name {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  white-space: nowrap;
}

@keyframes slideX {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
}
.inbox-detail {
  width: 44px;
  height: 44px;
}

.mail-icons {
  display: flex;
  flex-shrink: 0;
  gap: 0.8rem;
}
.mail-icons svg {
  width: 42px;
  height: 42px;
  padding: 13px;
  flex-shrink: 0;
  margin-left: 10px;
  border-radius: 50%;
  overflow: visible;
  background-color: var(--button-bg-color);
  color: var(--button-color);
  scale: 1.2;
}
.mail-icons svg:first-child {
  margin-left: 0;
}

.mail-contents {
  padding: 30px;
}
.mail-contents-subject {
  display: flex;
  align-items: center;
}
.mail-contents-title {
  font-weight: 700;
  font-size: 17px;
}

.mail {
  font-size: 14px;
  color: var(--main-light-color);
}
.mail-time {
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 13px;
}
.mail-time svg {
  width: 12px;
  margin-right: 8px;
}
.mail-inside {
  padding: 20px 0 30px;
  border-bottom: 1px solid var(--border-color);
  color: var(--main-color);
  line-height: 1.8em;
}

.mail-assign {
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}

.mail-doc {
  display: flex;
  align-items: center;
  padding: 30px 0;
  flex-shrink: 0;
  justify-content: space-between;
}
.mail-doc-name {
  color: var(--body-color);
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 3px;
}
.mail-doc-date {
  font-size: 13px;
}
.mail-doc-wrapper {
  display: flex;
  align-items: center;
}
.mail-doc-wrapper svg {
  margin-right: 15px;
  background-color: var(--button-bg-color);
  color: var(--button-color);
  width: 50px;
  padding: 9px;
  border-radius: 4px;
}
.mail-doc-icons svg:not(:last-child) {
  margin-right: 8px;
}

.mail-textarea {
  display: flex;
  width: 100%;
  background-color: var(--unselected-mail);
  position: sticky;
  bottom: 0;
  justify-content: space-between;
  left: 0;
  overflow: hidden;
  flex-shrink: 0;
}

.textarea-icons {
  display: flex;
  align-items: center;
}

.attach {
  padding: 30px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
.attach svg {
  color: var(--main-color);
}

.send {
  padding: 30px;
  background-color: var(--button-color);
}
.send svg {
  color: var(--theme-bg-color);
}

.inbox-calendar-checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

.toggle-page {
  overflow: hidden;
  z-index: 2;
}

.inbox-calendar {
  position: relative;
  width: 220px;
  border-radius: 20px;
  height: 38px;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--unselected-mail);
  transition: 0.3s ease all;
  z-index: 1;
}

.toggle-page:before,
.toggle-page:after,
.toggle-page span {
  position: absolute;
  top: 3px;
  width: 100px;
  height: 32px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 10px 4px;
  border-radius: 20px;
  transition: 0.3s ease all;
}

.toggle-page:before {
  content: "";
  left: 2px;
  background-color: var(--button-color);
}

.toggle-page span {
  color: var(--theme-bg-color);
  z-index: 1;
  left: 2px;
}

.toggle-page:after {
  content: "Wysłane";
  right: 2px;
  color: var(--main-light-color);
}

.inbox-calendar-checkbox:checked + .toggle-page span {
  color: var(--main-light-color);
}

.inbox-calendar-checkbox:checked + .toggle-page:before {
  left: 119px;
}

.inbox-calendar-checkbox:checked + .toggle-page:after {
  color: var(--theme-bg-color);
}

.calendar-wrapper {
  width: 100%;
  margin: auto;
  margin-top: 0;
  overflow: auto;
  border-radius: 10px;
  background: #fff;
  max-width: 975px;
  border: 1px solid var(--calendar-border-color);
}

.days {
  font-size: 12px;
  font-weight: 700;
  color: var(--main-color);
  text-align: center;
  line-height: 60px;
}
.days:not(:nth-of-type(7n + 7)) {
  border-right: 1px solid var(--calendar-border-color);
}

.day {
  padding: 15px;
  overflow: hidden;
  font-weight: 700;
  font-size: 13px;
  border-right: 1px solid var(--calendar-border-color);
  border-top: 1px solid var(--calendar-border-color);
}
.day:nth-of-type(7n + 7) {
  border-right: 0;
}
.day.not-work {
  color: var(--main-color);
}
.day.project-market {
  background-color: #f5eafd;
  border-left: 3px solid #b86df7;
  transition: 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.day.project-market:hover {
  transform: scale(1.3);
  border: 0;
  border-radius: 4px;
  background-image: linear-gradient(
    to top,
    #6625dc,
    #7739e3,
    #874cea,
    #965df1,
    #a46ef8
  );
  color: #fff;
  font-size: 15px;
}
.day.project-market:hover .project-detail {
  color: #fff;
  font-size: 9px;
}
.day.project-market:hover .project-detail:before {
  top: 2px;
}
.day.project-market:hover .hover-title {
  display: block;
  font-size: 8px;
  padding-left: 18px;
  margin-top: 5px 0 3px;
}
.day.project-market:hover .popup-check {
  display: block;
  width: 12px;
  margin-left: auto;
  margin-top: 6px;
}
.day.project-design {
  background-color: #eeeffd;
  border-left: 3px solid #736eeb;
}
.day.project-develop {
  background-color: #fef6e8;
  border-left: 3px solid #ffc263;
}
.day.project-finance {
  background-color: #fee9ec;
  border-left: 3px solid #ff647a;
  transition: 0.2s ease;
  cursor: pointer;
}
.day.project-finance:hover {
  background-image: linear-gradient(
    to top,
    #f7224b,
    #fa3d5d,
    #fd526e,
    #fe637e,
    #ff748e
  );
  transform: scale(1.3);
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
}
.day.project-finance:hover .popup-check {
  display: block;
  width: 12px;
  margin-left: auto;
  margin-top: 10px;
}
.day.project-finance:hover .project-detail {
  color: #fff;
  font-size: 9px;
}
.day.project-finance:hover .project-detail:before {
  top: 2px;
  background-color: #ce283e;
}
.day.project-finance:hover .hover-title {
  display: block;
  font-size: 8px;
  padding-left: 18px;
  margin-top: 5px;
}

.hover-title {
  display: none;
  color: #fff;
}

.popup-check {
  display: none;
}

.hide {
  display: none;
}

.project-detail {
  color: #783cae;
  font-size: 10px;
  position: relative;
  margin-top: 5px;
  padding-left: 20px;
  line-height: 1.4em;
}
.project-detail + .project-detail {
  margin-top: 5px;
}
.project-detail:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #b86df7;
  top: 4px;
  left: 10px;
}
.project-detail.design {
  color: #4844c1;
}
.project-detail.design:before {
  background-color: #6f69ea;
}
.project-detail.develop {
  color: #de9d3a;
}
.project-detail.develop:before {
  background-color: #ffc263;
}
.project-detail.finance {
  color: #e85b6f;
}
.project-detail.finance:before {
  background-color: #fd667a;
}

.week-month {
  display: flex;
  height: 30px;
}

.button {
  border: 1px solid var(--button-color);
  border-radius: 25px 0 0 25px;
  color: var(--button-color);
  padding: 8px 16px;
  font-weight: 600;
  font-family: var(--body-font);
  font-size: 12px;
  flex-shrink: 0;
  cursor: pointer;
  background-color: transparent;
}
.button.active {
  background-color: var(--button-color);
  color: var(--theme-bg-color);
}

.button-month {
  border-radius: 0 25px 25px 0;
  margin-left: -2px;
}

.calender-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 975px;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 30px;
}

.current-month {
  position: relative;
  padding: 0 10px;
  font-weight: 600;
}
.current-year {
  font-size: 12px;
  color: var(--main-color);
  font-weight: 600;
  margin-top: 5px;
}

.month-change {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-weekends,
.button-task {
  border-radius: 25px;
}

.button-task {
  margin-left: 15px;
}

.button-weekends {
  border-color: var(--main-light-color);
  color: var(--main-light-color);
}

.calendar-container {
  flex-direction: column;
  width: 100%;
  padding: 30px 50px;
  overflow: auto;
  display: none;
}
.calendar-container.calendar-show {
  display: flex;
}

.colorpicker {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 55px;
  top: -8px;
  right: -8px;
  position: absolute;
  cursor: pointer;
}

@media screen and (max-width: 1270px) {
  .mail-icons svg:not(:first-child) {
    display: none;
  }
}
@media screen and (max-width: 1160px) {
  .inbox-container {
    width: 370px;
  }

  .user-profile-area {
    width: 320px;
  }
}
@media screen and (max-width: 1070px) {
  .inbox-container {
    display: none;
  }

  .mail-detail-header .mail-icons svg {
    display: inline-block;
  }
}
@media screen and (max-width: 960px) {
  .inbox-calendar {
    margin-right: 100px;
  }
}
@media screen and (max-width: 870px) {
  .user-profile-area {
    display: none;
  }
}
@media screen and (max-width: 530px) {
  .search-bar {
    display: none;
  }

  .mail-textarea {
    padding: 0;
    height: 60px;
  }

  .button-weekends {
    display: none;
  }
}
@media screen and (max-width: 485px) {
  .mail-icons svg:not(:first-child) {
    display: none;
  }

  .inbox-calendar {
    margin-right: 0;
  }

  .calendar-container {
    padding: 30px 20px;
  }
}
@media screen and (max-width: 370px) {
  .mail-doc-icons,
  .mail-checklist-date {
    display: none;
  }
}
.anim-y {
  animation: slideUp 0.6s both;
}

.anim-y:nth-child(2) {
  animation-delay: 0.28s;
}

.anim-y:nth-child(3) {
  animation-delay: 0.42s;
}

.anim-y:nth-child(4) {
  animation-delay: 0.56s;
}

.anim-y:nth-child(5) {
  animation-delay: 0.7s;
}

.anim-y:nth-child(6) {
  animation-delay: 0.84s;
}

.anim-y:nth-child(7) {
  animation-delay: 0.98s;
}

.anim-y:nth-child(8) {
  animation-delay: 1.12s;
}

.anim-y:nth-child(9) {
  animation-delay: 1.26s;
}

.anim-y:nth-child(10) {
  animation-delay: 1.4s;
}

@keyframes slideUp {
  0% {
    transform: translateY(76px) scale(0.92);
    opacity: 0;
  }
}

/* CALENDAR */

.fc-theme-standard td,
.fc-theme-standard th {
  border: 0.1px solid rgb(234, 229, 229) !important;
}

.fc .fc-button {
  background-color: rgb(249, 249, 249) !important;
  border: none !important;
  color: rgb(175, 176, 190) !important;
}

.fc-day-today {
  background-color: rgb(240, 248, 248) !important;
}

.fc-icon {
  color: rgb(146, 149, 168);
}

.fc-direction-ltr {
  width: 100%;
}

.rotate {
  animation: rotation 8s infinite linear;
}

.offer-item {
  width: 200px;
  line-height: 1.5rem;
  /* border-radius: 30% 70% 70% 30% / 63% 69% 31% 37%; */
  background-size: 100%;
  background-image: url("../assets/images/blob4.svg");
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s ease-in-out;
  /* padding: 1.2rem; */
  /* margin: 1.5rem 0.8rem; */
}

/* .offer-item:hover {
  background-size: 400%;
  background-position: 50% 50%;
} */

.offer-img {
  transform: translate(30px, 26px);
}

.MuiButton-outlined {
  border-radius: 50px !important;
}

.MuiButton-endIcon {
  position: absolute;
  right: 30px;
  margin-right: 0.45rem !important;
  justify-content: right;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 2s;
}

.number-outlined {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  -webkit-text-stroke: 2px rgba(241, 180, 82, 0.82);
}

.orange-text {
  color: #f8c36f;
  font-size: 2rem;
  font-weight: 500;
}

.half-background {
  background: linear-gradient(to top, #f8c46fb6 40%, transparent 60%);
}

.rotate {
  animation-name: rotation;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation: rotation 3s ease-in-out 1s infinite; */
}

@keyframes run {
  0% {
    right: 0;
  }
  50% {
    right: 10px;
  }
  100% {
    right: 0;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shadow-dot-blue {
  max-width: 0px;
  max-height: 0px;
  color: rgba(13, 129, 226, 0.3);
  background-color: rgba(13, 129, 226, 0.3);
  box-shadow: 8px 8px 70px 80px rgba(13, 129, 226, 0.3);
}

.shadow-dot-yellow {
  max-width: 0px;
  max-height: 0px;
  color: rgba(255, 180, 71, 0.3);
  background-color: rgba(255, 180, 71, 0.3);
  box-shadow: 8px 8px 70px 80px rgba(255, 180, 71, 0.3);
}

.menu-item {
  height: 9%;
  width: 88%;

  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 1px solid var(--yellow);
  border-radius: 50px; */

  font-size: 2.8vh;
  font-weight: 400;

  /* background-color: var(--yellow); */
}

.menu-item-chosen {
  background: black;
  color: var(--white);
  border: black;
  border-radius: 50px;
}

/* .courses::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  rotate: 120deg;
  background-color: rgb(254, 181, 56);
} */

.navbar {
  /* border-top-right-radius: 75px;
  border-bottom-right-radius: 75px; */
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 245px;
  right: 0;
  height: 2px;
  background: var(--yellow);
  transform-origin: 0%;
  z-index: 100000;
  rotate: 90deg;
}

.social {
  position: relative;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.social-bg {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  color: var(--yellow);
  background-color: var(--yellow);
  top: -6px;
  left: -6px;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
  z-index: -10;
  cursor: pointer;
  transition: visibility 0s, opacity 0.1s ease-in-out;
}

.social:hover .social-bg {
  visibility: visible;
  opacity: 1;
}

.title {
  position: relative;
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal2 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  40% {
    -webkit-transform: scale3d(0.85, 1.05, 1);
    transform: scale3d(0.85, 1.05, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 0.85, 1);
    transform: scale3d(1.05, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

.social:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

.pricing {
  position: relative;
}

section {
  height: 100vh;
}
